# Ignore everything outside the project folder
../


.env
# Ignore common Python and OS files
*.pyc
__pycache__/
.DS_Store
*.log

# Ignore data files specific to local run
artist_list.txt
artist_count.txt

.cache


