#Security and Local Configuration 
.env

#Python Environment and Cache
*.pyc
__pycache__/
.cache
.venv/
venv/
/dist/
/build/

#Local Data Output 
artist_list.txt
artist_count.txt
*.log

# OS/Editor Files 
.DS_Store
